*
    font-family: 'Inter', sans-serif
    margin: 0
    padding: 0
    box-sizing: border-box
.pl-64
    padding-left: 64px
.pr-0
    padding-right: 0 !important
.header
    display: flex
    justify-content: space-between
    padding: 30px 64px 30px 84px
    &-logo
        display: flex
        justify-content: center
    &-info
        display: flex
.logo
    margin-right: 40px
.country
    margin: auto 0
    font-size: 23px
    color: #0F3780
.contact-info
    display: flex
    flex-direction: column
    align-items: flex-end
    margin-right: 20px
.phone
    position: relative
    &-icon
        position: absolute
        left: -30px
.phone-number
    text-decoration: none
    color: #0F3780
    font-size: 20px
    font-weight: 800
.request-call
    text-decoration: none
    color: #0EB4DA
    font-size: 16px
    text-transform: uppercase
.search-info
    border: 2px solid #0F3780
    border-radius: 10px
    display: flex
    align-items: center
    padding-right: 20px
    input
        border: none
        outline: none
    button
        background: none
        border: none
        cursor: pointer
        margin-left: 10px
.submit
    background-color: #0A2657
    width: 245px
    color: white
    border: none
    border-radius: 10px
    cursor: pointer
    font-size: 14px
    text-transform: uppercase
    margin-left: 23px

.navbar
    border: 1px solid #E5E7EB
    border-bottom: none
    padding: 0
.nav-item
    border-right: 1px solid #E5E7EB
    padding: 10px 23px 10px 23px
.nav-link
    font-size: 18px
    color: #374151 !important
.active-link
    color: #0F3780 !important

.inactive-link
    color: #0000004D !important

.language-switcher
    position: relative
    margin-left: auto
    font-size: 18px
    display: flex
.nav-link__separator
    position: absolute
    left: 105px
    top: 5px
    width: 1px
    height: 27px
    background-color: lightgray
.welcome
    background: #0F3780
    display: flex
    &__descr
        margin-top: 185px
    &__title
        font-size: 68px
        color: white
    &__about
        font-size: 22px
        color: white
    &__img
        display: flex
        justify-content: center
        align-items: center
        padding-top: 83px
        padding-bottom: 117px
        background-image: url('../img/banner_img_circle.png')
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        img
            width: 70%
    &__btn
        display: inline-block
        text-decoration: none
        color: #0F3780
        padding: 24px 40px
        background-color: white
        border-radius: 10px
        font-size: 18px
        text-transform: uppercase
        margin-top: 40px
.about
    &__descr
        margin: 0 auto
        padding-top: 60px
    &__img img
        object-fit: cover
        width: 100%
    &__text
        margin-top: 30px
        font-size: 16px
.title
    font-size: 40px
    color: #2D5090
.services
    margin-top: 137px
    &__header
        display: flex
        justify-content: space-between
    &__link
        display: inline-block
        text-decoration: none
        font-size: 26px
        color: #637DAC
        padding: 18px 54px
        background: #F3F3F3
        border-radius: 35px
        margin-right: 20px
.slider
    display: flex
    align-items: center
    margin-top: 95px
    &__item
        margin-right: 90px
        width: 20%
        text-align: center
        &:last-child
            margin-right: 0
.item__descr
    margin-top: 30px
    font-size: 26px
    color: #4D6BA0
    text-align: center
.public
    margin-top: 110px
.card-slider
    margin-top: 189px
    display: flex
    justify-content: center

.public__card
    margin-right: 90px
    padding: 0
    border-radius: 15px
    &_color-blue
        background: #0A2657
    &_color-ocean
        background: #0EB4DA
    &_color-violet
        background: #53185F

    &:last-child
        margin-right: 0
.image-container
    position: relative

.after
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    border-radius: 15px 15px 0 0 
    &_blue
        background: #0A265780
    &_ocean
        background: #0EB4DA80
    &_violet
        background: #53185F80
.card__descr
    color: white
    font-size: 25px
.card__link
    text-decoration: none
    color: white
    font-size: 16px
    padding: 24px 40px
    text-transform: uppercase
    background-color: #FFFFFF40
    border: none
    margin: 30px 0 30px 0
    cursor: pointer
.news
    margin-top: 120px
    padding-top: 104px
    padding-bottom: 104px
    background-color:#0A2657
    &__cards
        display: flex
        justify-content: space-between
        margin-top: 80px
.cards__descr
    font-size: 16px
.cards__img
    width: 100%
.name
    text-transform: uppercase
    color: white
    font-size: 16px
.cards__title
    font-size: 25px
    color: #0EB4DA
    margin-top: 29px
    text-overflow: ellipsis
.cards__descr
    font-size: 18px
    color: white
    margin: 29px 0 29px 0
.footer
    padding-top: 160px
    &__about-descr
        margin-top: 60px
        font-size: 16px
        color: #0A2657
    &__title
        color: #0A2657
        font-size: 20px
        font-weight: 600
        text-transform: uppercase
    &__nav
        list-style-type: none
        &-item
            margin-top: 24px
            a
                text-decoration: none
                cursor: pointer
                color: #0A2657
                text-transform: uppercase
.social__list
    list-style-type: none
.social__item-phone
    position: relative
    margin-left: 25px
    &::before
        content: ''
        position: absolute
        left: -30px
        top: 15px
        width: 26px
        height: 26px
        background-image: url('../icons/call.svg')
.social__link
    margin-top: 18px
    display: inline-block
    font-size: 16px
    font-weight: 600
    color: #0A2657
    text-decoration: none
.social__item-mail
    position: relative
    margin-left: 25px
    &::before
        content: ''
        position: absolute
        left: -30px
        top: 15px
        width: 26px
        height: 26px
        background-image: url('../icons/ic_round-mail.svg')
.social__item-location
    position: relative
    margin-left: 25px
    &::before
        content: ''
        position: absolute
        left: -30px
        top: 15px
        width: 26px
        height: 26px
        background-image: url('../icons/location.svg')